@model AltoRendimiento.Models.Archivo_Solicitud_Cambio


@{
    ViewBag.Title = "Elimina Archivo Solicitud";
}


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Confirmación Eliminación Archivo</h4>
</div>


<div class="modal-body">
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                El archivo se eliminará de forma permanente, ¿esta seguro que desea proseguir?
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Informacion del Archivo
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label for="lblTipoArchivo" class="control-label col-md-4" style="font-size: 14px;">Tipo Archivo:</label>
                    <div class="col-md-8">
                        @Html.DisplayFor(p => p.Tipo_Archivo_Solicitud_Cambio.tasNombre, new { @class = "form-control", })
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblNombreArchivo" class="control-label col-md-4" style="font-size: 14px;">Nombre Archivo:</label>
                    <div class="col-md-8">
                        @Html.DisplayFor(p => p.ascNombreArchivo, new { @class = "form-control", })
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblExtensionArchivo" class="control-label col-md-4" style="font-size: 14px;">Extensión Archivo:</label>
                    <div class="col-md-8">
                        @Html.DisplayFor(p => p.ascArchivoExtension, new { @class = "form-control", })
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblDescripcion" class="control-label col-md-4" style="font-size: 14px;">Descripción:</label>
                    <div class="col-md-8">@Html.DisplayFor(p => p.ascDescripcion, new { @class = "form-control", })</div>
                </div>
                <div class="form-group">
                    <label for="lblExtensionArchivo" class="control-label col-md-4" style="font-size: 14px;">Nombre Usuario:</label>
                    <div class="col-md-8">
                        @ViewBag.NombreUsuario
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-footer">
        <button type="button" id="btnCancelar" class="btn btn-sm btn-danger pull-left" data-dismiss="modal">Cancelar</button>
        <button type="submit" id="btnEliminar" class="btn btn-sm btn-success">Eliminar</button>
    </div>
}


