@model AltoRendimiento.Administracion.Models.ConcursoModel

@{
    ViewBag.Title = "Detalle Concurso.";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Concurso</h4>
</div>
@using (Html.BeginForm())
{
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()

            <div class="panel panel-default">
                <div class="panel-heading">
                    Antecedentes Concurso
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.conAno, new { @class = "col-md-4" })
                        <div class="col-md-8">
                            @Model.conAno
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.conNombre, new { @class = "col-md-4" })
                        <div class="col-md-8">
                            @Model.conNombre
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.conInicioPostulacion, new { @class = "col-md-4" })
                        <div class="col-md-8">
                            @Model.conInicioPostulacion
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.conFinPostulacion, new { @class = "col-md-4" })
                        <div class="col-md-8">
                            @Model.conFinPostulacion
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.conDescripcion, new { @class = "col-md-4" })
                        <div class="col-md-8">
                            @Model.conDescripcion
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-info pull-left" data-dismiss="modal">Volver</button>
</div>
