@model AltoRendimiento.Administracion.Models.ConcursoModel

<div class="text-right">
    @Html.ActionLink("Volver", "Index", "BandejaEntrada", null, new { @class = "btn btn-sm btn-info pull-left", @style = "color:White" })
    @Html.ActionLink("Nuevo", "Index", "LevantarConcurso", new { idConcurso = 0, anioConcurso = 0, idLinea = 0 }, new { id = "btnAgregarConcurso", @class = "btn btn-sm btn-primary text-right", @style = "color:White" })
</div>
<br />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $("#tblData").DataTable({
            "language":
                {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
        }).on("draw.dt", function () {
            addEventClickDataModal();
        });

        if ('@Model.listaConcursos.Count()' == '0') {
            $("#dvData").hide();
        } else {
            $("#dvData").show();
        }
    });
</script>

<div id="dvData" class="table-responsive">
    <table id="tblData" class="table table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.conAno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.conNombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.conInicioPostulacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.conFinPostulacion)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.conDescripcion)
                </th>
                <th>
                    Estado
                </th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listaConcursos)
            {
                <tr>
                    <td>
                        @item.conAno
                    </td>
                    <td>
                        @item.conNombre
                    </td>
                    <td>
                        @item.conInicioPostulacion
                    </td>
                    <td>
                        @item.conFinPostulacion
                    </td>
                    <td>
                        @item.conDescripcion
                    </td>
                    <td>
                        @if (int.Parse(item.conAno) < DateTime.Now.Year)
                        {
                            @Html.Label("lblEstado", "Inactivo")
                        }
                        else if (item.paso < 5)
                        {
                            @Html.Label("lblEstado", "Pendiente")
                        }
                        else
                        {
                            @Html.Label("lblEstado", "Activo")
                        }
                    </td>
                    <td>
                        @Html.Raw(@Html.ActionLink("[replacetext]", "DetalleConcurso", new { id = item.idConcurso }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Detalle' src=\"Images/Reporte.png\" ... />"))
                        @if (item.paso < 5 && int.Parse(item.conAno) >= DateTime.Now.Year)
                        {
                            @Html.Raw(@Html.ActionLink("[replacetext]", "Index", "LevantarConcurso", new { idConcurso = item.idConcurso, anioConcurso = @item.conAno, @idLinea = 0 }, null).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Editar' src=\"Images/Edit.png\" ... />"))
                            @Html.Raw(@Html.ActionLink("[replacetext]", "EliminarConcurso", new { id = item.idConcurso }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Eliminar' src=\"Images/Trash.png\" ... />"))
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
