@model AltoRendimiento.Administracion.Models.TipoGastoAdministracionModel
@using PagedList.Mvc;
<div class="text-right">
    @Html.ActionLink("Volver", "Index", "BandejaEntrada", null, new { @class = "btn btn-sm btn-info pull-left", @style = "color:White" })
    @Html.ActionLink("Nuevo", "CrearTipoGastoAdm", "MantenedorTipoGastoAdministracion", null, new { data_modal = "", id = "btnAgregarTipoGastoAdm", @class = "btn btn-sm btn-primary text-right", @style = "color:White" })
</div>
<br />
<div class="table-responsive">
    <table class="table table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.tgaNombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tgaDescripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tgaNumeroGastoAdministracion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listaTipoGastoAdministracion)
            {
                <tr>
                    <td>
                        @item.tgaNombre
                    </td>
                    <td>
                        @item.tgaDescripcion
                    </td>
                    <td>
                        @item.tgaNumeroGastoAdministracion
                    </td>
                    <td>
                        @Html.Raw(@Html.ActionLink("[replacetext]", "DetalleTipoGastoAdm", new { id = item.idTipoGastoAdministracion }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Detalle' src=\"Images/Reporte.png\" ... />"))
                        @Html.Raw(@Html.ActionLink("[replacetext]", "EditarTipoGastoAdm", new { id = item.idTipoGastoAdministracion }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Editar' src=\"Images/Edit.png\" ... />"))
                        @Html.Raw(@Html.ActionLink("[replacetext]", "EliminarTipoGastoAdm", new { id = item.idTipoGastoAdministracion }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Eliminar' src=\"Images/Trash.png\" ... />"))
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id="dvInfoPaginacion">
        Página @(Model.listaTipoGastoAdministracion.PageCount < Model.listaTipoGastoAdministracion.PageNumber ? 0 : Model.listaTipoGastoAdministracion.PageNumber) de @Model.listaTipoGastoAdministracion.PageCount
        @Html.PagedListPager(Model.listaTipoGastoAdministracion, page => Url.Action("Index", new { page }))
    </div>
</div>
