@using AltoRendimiento.App_Code
@model IEnumerable<AltoRendimiento.Models.Beneficiario_Producto_Cargo>

@{
    ViewBag.Title = "Index";
}
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Inicio", "Index", "AntecedenteGeneralProyecto")</li>
            <li>@Html.ActionLink("Proyecto " + (string)@ViewBag.Proyecto.proNombreProyecto, "URLProducto", "AntecedenteGeneralProyecto", new { id = TempData["idProyecto"] }, null) </li>
            <li><b>Producto @ViewBag.Producto - Asignar Beneficiario</b></li>
        </ol>
    </div>
</div>
<h3>Asignar Beneficiario</h3>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="text-right">
            @Html.ActionLink("Volver", "URLProducto", "AntecedenteGeneralProyecto", new { id = TempData["idProyecto"] }, new { id = "btnVolver", @class = "btn btn-sm btn-info pull-left", @style = "color:White" })


            @Html.ActionLink("Ver Geolocalizaciones", "URLVerGeolocalizaciones", "AsignarBeneficiarios", new { id = TempData["idProducto"] }, new { @class = "btn btn-sm btn-warning text-right", @style = "color:White" })

            @if ((ViewBag.Proyecto.idWorkflow == (int)EnumEstados.Ingresada && ViewBag.Proyecto.estadoIngresado == 2) || @ViewBag.Proyecto.idWorkflow == (int)EnumEstados.Incompleto || @ViewBag.Proyecto.idWorkflow == (int)EnumEstados.Objetada)
            {
                if (int.Parse(@Model.Count().ToString()) > 1 && (int)@ViewBag.CantidadGeos > 0)
                {
                    @Html.ActionLink("Duplicar Geolocalización y Horarios", "CopiarGeolocalizacion", "AsignarBeneficiarios", new { id = TempData["idProducto"] }, new { @class = "btn btn-sm btn-success text-right", @style = "color:White" })
                    @Html.Raw("&nbsp;")
                }
                @Html.ActionLink("Nuevo", "Create", "AsignarBeneficiarios", new { id = TempData["idProducto"] }, new { data_modal = "", id = "btnCreate", @class = "btn btn-sm btn-primary text-right", @style = "color:White" })
            }
            else if (@ViewBag.Solicitud != null)
            {
                if (@ViewBag.Proyecto.idWorkflow == (int)EnumEstados.AprobadoSC && @ViewBag.Solicitud.scaPendiente == null && @ViewBag.ProductoSC.idProducto == @ViewBag.Solicitud.Producto_Copia.idProducto)
                {
                    if (int.Parse(@Model.Count().ToString()) > 1 && (int)@ViewBag.CantidadGeos > 0)
                    {
                        @Html.ActionLink("Copiar Geolocalización", "CopiarGeolocalizacion", "AsignarBeneficiarios", null, new { @class = "btn btn-sm btn-success text-right", @style = "color:White" })
                        @Html.Raw("&nbsp;")
                    }
                    @Html.ActionLink("Nuevo", "Create", "AsignarBeneficiarios", new { id = TempData["idProducto"] }, new { data_modal = "", id = "btnCreate", @class = "btn btn-sm btn-primary text-right", @style = "color:White" })
                }
            }
            else
            {
                <br />
            }
        </div>
        <br />

        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            Rut/ Pasaporte
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Apellido Paterno
                        </th>
                        <th>
                            Apellido Materno
                        </th>
                        <th>
                            Cargo
                        </th>
                        <th>
                            Fecha Nacimiento
                        </th>
                        <th>
                            Género

                        </th>
                        <th>
                            Deportista
                        </th>
                        <th>
                            Nacionalidad
                        </th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.bpcEstado == 1)
                        {
                            <tr class="success">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Beneficiario.RutCompleto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Beneficiario.benNombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Beneficiario.benApellidoPaterno)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Beneficiario.benApellidoMaterno)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cargo.carNombre)
                                </td>
                                <td>
                                    @Html.DisplayName(item.Beneficiario.benFechaNacimiento.ToShortDateString())
                                </td>
                                <td>
                                    @if (item.Beneficiario.benGenero == 1)
                                    {
                                        @Html.DisplayName("Femenino")
                                    }
                                    @if (item.Beneficiario.benGenero == 2)
                                    {
                                        @Html.DisplayName("Masculino")
                                    }
                                </td>
                                <td>
                                    @if (item.Beneficiario.benEsdeportista == 0)
                                    {
                                        @Html.DisplayName("Si")
                                    }
                                    else
                                    {
                                        @Html.DisplayName("No")
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Beneficiario.Nacionalidad.nacNombre)
                                </td>
                                <td width="120">
                                    @if (item.Cargo.carNombre == "DEPORTISTA")
                                    {
                                        @Html.Raw(@Html.ActionLink("[replacetext]", "URLGastoPersonal", new { idBeneficiario = item.idBeneficiario, idBPC = item.idBeneficiarioProductoCargo }, null).ToHtmlString().Replace("[replacetext]", "<img width='18' data-toggle='tooltip' title='Actividad' src=\"../Images/actividad.png\" ... />"))

                                    }
                                    else
                                    {
                                        @Html.Raw(@Html.ActionLink("[replacetext]", "URLGastoPersonal", new { idBeneficiario = item.idBeneficiario, idBPC = item.idBeneficiarioProductoCargo }, null).ToHtmlString().Replace("[replacetext]", "<img width='18' data-toggle='tooltip' title='Gastos Personal' src=\"../Images/signo_Peso.png\" ... />"))

                                    }
                                    @Html.Raw(@Html.ActionLink("[replacetext]", "URLDocumentoBeneficiario", new { id = item.idBeneficiario, prod = TempData["idProducto"] }, null).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Documentos Adjuntos' src=\"../Images/Reporte.png\" ... />"))

                                    @if ((ViewBag.Proyecto.idWorkflow == (int)EnumEstados.Ingresada && ViewBag.Proyecto.estadoIngresado == 2) || @ViewBag.Proyecto.idWorkflow == (int)EnumEstados.Incompleto || @ViewBag.Proyecto.idWorkflow == (int)EnumEstados.Objetada)
                                    {
                                        @Html.Raw(@Html.ActionLink("[replacetext]", "Edit", new { id = item.idBeneficiarioProductoCargo }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Editar' src=\"../Images/Edit.png\" ... />"))

                                        @Html.Raw(@Html.ActionLink("[replacetext]", "Delete", new { id = item.idBeneficiarioProductoCargo }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Eliminar' src=\"../Images/Trash.png\" ... />"))

                                    }

                                    @if (@ViewBag.Solicitud != null)
                                    {
                                        if (@ViewBag.Proyecto.idWorkflow == (int)EnumEstados.AprobadoSC && @ViewBag.Solicitud.scaPendiente == null && @ViewBag.ProductoSC.idProducto == @ViewBag.Solicitud.Producto_Copia.idProducto)
                                        {
                                            @Html.Raw(@Html.ActionLink("[replacetext]", "Edit", new { id = item.idBeneficiarioProductoCargo }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Editar' src=\"../Images/Edit.png\" ... />"))


                                            int cont = 0;

                                            foreach (decimal bpc in ViewBag.BPCElimina)
                                            {
                                                if (item.idBeneficiarioProductoCargo == bpc)
                                                {
                                                    cont++;
                                                }
                                            }

                                            if (cont == 0)
                                            {
                                                @Html.Raw(@Html.ActionLink("[replacetext]", "Delete", new { id = item.idBeneficiarioProductoCargo }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Eliminar' src=\"../Images/Trash.png\" ... />"))
                                            }
                                        }

                                    }
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr class="danger">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Beneficiario.RutCompleto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Beneficiario.benNombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Beneficiario.benApellidoPaterno)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Beneficiario.benApellidoMaterno)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cargo.carNombre)
                                </td>
                                <td>
                                    @Html.DisplayName(item.Beneficiario.benFechaNacimiento.ToShortDateString())
                                </td>
                                <td>
                                    @if (item.Beneficiario.benGenero == 1)
                                    {
                                        @Html.DisplayName("Femenino")
                                    }
                                    @if (item.Beneficiario.benGenero == 2)
                                    {
                                        @Html.DisplayName("Masculino")
                                    }
                                </td>
                                <td>
                                    @if (item.Beneficiario.benEsdeportista == 0)
                                    {
                                        @Html.DisplayName("Si")
                                    }
                                    else
                                    {
                                        @Html.DisplayName("No")
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Beneficiario.Nacionalidad.nacNombre)
                                </td>
                                <td width="120">
                                    @if (item.Cargo.carNombre == "DEPORTISTA")
                                    {
                                        @Html.Raw(@Html.ActionLink("[replacetext]", "URLGastoPersonal", new { idBeneficiario = item.idBeneficiario, idBPC = item.idBeneficiarioProductoCargo }, null).ToHtmlString().Replace("[replacetext]", "<img width='18' data-toggle='tooltip' title='Actividad' src=\"../Images/actividad.png\" ... />"))

                                    }
                                    else
                                    {
                                        @Html.Raw(@Html.ActionLink("[replacetext]", "URLGastoPersonal", new { idBeneficiario = item.idBeneficiario, idBPC = item.idBeneficiarioProductoCargo }, null).ToHtmlString().Replace("[replacetext]", "<img width='18' data-toggle='tooltip' title='Gastos Personal' src=\"../Images/signo_Peso.png\" ... />"))

                                    }
                                    @Html.Raw(@Html.ActionLink("[replacetext]", "URLDocumentoBeneficiario", new { id = item.idBeneficiario, prod = TempData["idProducto"] }, null).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Documentos Adjuntos' src=\"../Images/Reporte.png\" ... />"))

                                    @if (@ViewBag.Proyecto.idWorkflow == (int)EnumEstados.Incompleto || @ViewBag.Proyecto.idWorkflow == (int)EnumEstados.Objetada)
                                    {
                                        @Html.Raw(@Html.ActionLink("[replacetext]", "Edit", new { id = item.idBeneficiarioProductoCargo }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Editar' src=\"../Images/Edit.png\" ... />"))

                                        @Html.Raw(@Html.ActionLink("[replacetext]", "Delete", new { id = item.idBeneficiarioProductoCargo }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Eliminar' src=\"../Images/Trash.png\" ... />"))

                                    }

                                    @if (@ViewBag.Solicitud != null)
                                    {
                                        if (@ViewBag.Proyecto.idWorkflow == (int)EnumEstados.AprobadoSC && @ViewBag.Solicitud.scaPendiente == null && @ViewBag.ProductoSC.idProducto == @ViewBag.Solicitud.Producto_Copia.idProducto)
                                        {
                                            @Html.Raw(@Html.ActionLink("[replacetext]", "Edit", new { id = item.idBeneficiarioProductoCargo }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Editar' src=\"../Images/Edit.png\" ... />"))

                                            int cont = 0;

                                            foreach (decimal bpc in ViewBag.BPCElimina)
                                            {
                                                if (item.idBeneficiarioProductoCargo == bpc)
                                                {
                                                    cont++;
                                                }
                                            }

                                            if (cont == 0)
                                            {
                                                @Html.Raw(@Html.ActionLink("[replacetext]", "Delete", new { id = item.idBeneficiarioProductoCargo }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Eliminar' src=\"../Images/Trash.png\" ... />"))
                                            }
                                        }

                                    }
                                </td>
                            </tr>
                        }
                    }

                </tbody>

            </table>
        </div>
        <div class="panel-footer">@Model.Count() Registro(s)</div>
    </div>


</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    @Styles.Render("~/Content/searchableOptionList.css")
    @Scripts.Render("~/Scripts/sol.js")
}

