@model AltoRendimiento.Administracion.Models.MantenedorDisciplinaModel

@{
    ViewBag.Title = "Crear Disciplina.";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Nuevo Disciplina</h4>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            <div id="mensaje">
            </div>
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @maxlength = "128" })
                    @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @maxlength = "2048", @style = "resize:none;", @rows = "5" })
                    @Html.ValidationMessage("Descripcion", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.idOrganizacion, new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.idOrganizacion, Model.ListaOrganizaciones, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idOrganizacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="btnCancelar" class="btn btn-sm btn-danger pull-left" data-dismiss="modal">Cancelar</button>
        <button type="submit" id="btnGuardar" class="btn btn-sm btn-success ">Guardar</button>
    </div>
}

<script>
    var codError = '@(ViewBag.codError)';
    var mensajeRespuesta = '@(ViewBag.respuesta)';
    var tipoEstilo = "";
    if (mensajeRespuesta != "") {
        if (codError == '0') {
            tipoEstilo = "alert-success";
            $("#Nombre").attr("disabled", "disabled");
            $("#Descripcion").attr("disabled", "disabled");
            $("#btnGuardar").attr("disabled", "disabled");
            $("#btnCancelar").html("Cerrar");
        } else {
            tipoEstilo = "alert-danger";
        }
        var mensajeUsuario = '<div class="alert ' + tipoEstilo + ' alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button>' + mensajeRespuesta + '</div>';
        $("#mensaje").append(mensajeUsuario);
    }
</script>
