@model AltoRendimiento.Administracion.Models.ZonaModel
@using PagedList.Mvc;
<div class="text-right">
    @Html.ActionLink("Volver", "Index", "BandejaEntrada", null, new { @class = "btn btn-sm btn-info pull-left", @style = "color:White" })
    @Html.ActionLink("Nueva", "CrearZona", "MantenedorZona", null, new { data_modal = "", id = "btnAgregarZona", @class = "btn btn-sm btn-primary text-right", @style = "color:White" })
</div>
<br />
<div class="table-responsive">
    <table class="table table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.zonNombre)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listaZonas)
            {
                <tr>
                    <td>
                        @item.zonNombre
                    </td>
                    <td>
                        @Html.Raw(@Html.ActionLink("[replacetext]", "DetalleZona", new { id = item.idZona }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Detalle' src=\"Images/Reporte.png\" ... />"))
                        @Html.Raw(@Html.ActionLink("[replacetext]", "EditarZona", new { id = item.idZona }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Editar' src=\"Images/Edit.png\" ... />"))
                        @Html.Raw(@Html.ActionLink("[replacetext]", "EliminarZona", new { id = item.idZona }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Eliminar' src=\"Images/Trash.png\" ... />"))
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id="dvInfoPaginacion">
        Página @(Model.listaZonas.PageCount < Model.listaZonas.PageNumber ? 0 : Model.listaZonas.PageNumber) de @Model.listaZonas.PageCount
        @Html.PagedListPager(Model.listaZonas, page => Url.Action("Index", new { page }))
    </div>
</div>
