@model AltoRendimiento.Administracion.Models.ObjetoModel

<div class="text-right">
    @Html.ActionLink("Volver", "Index", "BandejaEntrada", null, new { @class = "btn btn-sm btn-info pull-left", @style = "color:White" })
    @Html.ActionLink("Nuevo", "CrearObjeto", "MantenedorObjeto", null, new { data_modal = "", id = "btnAgregarObjeto", @class = "btn btn-sm btn-primary text-right", @style = "color:White" })
</div>
<br />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $("#tblData").DataTable({
            "language":
                {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
        }).on("draw.dt", function () {
            addEventClickDataModal();
        });

        if ('@Model.ListaObjetos.Count()' == '0') {
            $("#dvData").hide();
        } else {
            $("#dvData").show();
        }
    });
</script>

<div id="dvData" class="table-responsive">
    <table id="tblData" class="table table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.objNombreFisico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sTipoObjeto)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaObjetos)
            {
                <tr>
                    <td>
                        @item.objNombreFisico
                    </td>
                    <td>
                        @item.sTipoObjeto
                    </td>
                    <td>
                        @Html.Raw(@Html.ActionLink("[replacetext]", "DetalleObjeto", new { id = item.idObjeto }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Detalle' src=\"Images/Reporte.png\" ... />"))
                        @Html.Raw(@Html.ActionLink("[replacetext]", "EditarObjeto", new { id = item.idObjeto }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Editar' src=\"Images/Edit.png\" ... />"))
                        @Html.Raw(@Html.ActionLink("[replacetext]", "EliminarObjeto", new { id = item.idObjeto }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Eliminar' src=\"Images/Trash.png\" ... />"))
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
