@using AltoRendimiento.App_Code
@model IEnumerable<AltoRendimiento.Models.Beneficiario_Gasto_Personal>

@{
    if (@ViewBag.BenefProdCargo.Cargo.carDescripcion == "Deportista")
    {
        ViewBag.Title = "Actividades";
    }
    else
    {
        ViewBag.Title = "Gastos Personal";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@*TODO:Ver como levantar el popup*@
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Inicio", "Index", "AntecedenteGeneralProyecto")</li>
            <li>@Html.ActionLink("Proyecto " + (string)@ViewBag.Proyecto.proNombreProyecto, "URLProducto", "AntecedenteGeneralProyecto", new { id = ViewBag.Proyecto.idProyecto }, null) </li>
            <li>@Html.ActionLink("Producto " + (string)@ViewBag.Producto.prdNombre, "URLAsignarBeneficiarios", "Producto", new { id = ViewBag.Producto.idProducto }, null) </li>
            @if (@ViewBag.BenefProdCargo.Cargo.carDescripcion == "DEPORTISTA")
            {
                <li><b>Actividades</b></li>
            }
            else
            {
                <li><b>Gastos Personales</b></li>
            }
        </ol>
    </div>
</div>
@if (@ViewBag.BenefProdCargo.Cargo.carDescripcion == "DEPORTISTA")
{
    <h2>Actividades</h2>
}
else
{

    <h2>Gastos Personales</h2>
}
<h4>Nombre Beneficiario: @ViewBag.Beneficiario.NombreCompleto</h4>

<br />

<div class="row">
    <div class="col-md-12">
        @*<div>
                @Html.ActionLink("Prueba Correo", "Correo", "GastosPersonal", null, new { data_modal = "",  @class = "btn btn-primary text-rigth", @style = "color:black" })
            </div>*@
        @*Botones de la pagina*@
        <div class="text-right">
            @Html.ActionLink("Volver", "URLAsignarBeneficiarios", "Producto", new { id = ViewBag.Producto.idProducto }, new { id = "btnVolver", @class = "btn btn-sm btn-info pull-left", @style = "color:White" })


            @if ((ViewBag.Proyecto.idWorkflow == (int)EnumEstados.Ingresada && ViewBag.Proyecto.estadoIngresado == 2) || @ViewBag.Proyecto.idWorkflow == (int)EnumEstados.Incompleto || @ViewBag.Proyecto.idWorkflow == (int)EnumEstados.Objetada)
            {
                if (@ViewBag.BenefProdCargo.Cargo.carDescripcion == "DEPORTISTA")
                {
                    @Html.ActionLink("Nueva Actividad", "Create", "GastosPersonal", new { id = TempData["idBeneficiarioProductoCargo"] }, new { data_modal = "", id = "btnCreate", @class = "btn btn-sm btn-primary text-rigth", @style = "color:White" })

                }
                else
                {
                    @Html.ActionLink("Nuevo Gasto", "Create", "GastosPersonal", new { id = TempData["idBeneficiarioProductoCargo"] }, new { data_modal = "", id = "btnCreate", @class = "btn btn-sm btn-primary text-rigth", @style = "color:White" })
                }
            }
            else if (@ViewBag.Solicitud != null)
            {
                if (@ViewBag.Proyecto.idWorkflow == 11 && @ViewBag.Solicitud.scaPendiente == null && @ViewBag.ProductoSC.idProducto == @ViewBag.Solicitud.Producto_Copia.idProducto)
                {
                    if (@ViewBag.BenefProdCargo.Cargo.carDescripcion == "DEPORTISTA")
                    {
                        @Html.ActionLink("Nueva Actividad", "Create", "GastosPersonal", new { id = TempData["idBeneficiarioProductoCargo"] }, new { data_modal = "", id = "btnCreate", @class = "btn btn-sm btn-primary text-rigth", @style = "color:White" })

                    }
                    else
                    {
                        @Html.ActionLink("Nuevo Gasto", "Create", "GastosPersonal", new { id = TempData["idBeneficiarioProductoCargo"] }, new { data_modal = "", id = "btnCreate", @class = "btn btn-sm btn-primary text-rigth", @style = "color:White" })
                    }
                }
            }
            else
            {
                <br />
            }
        </div>
        <br />
        @*Tabla de Gastos del beneficiario*@
        <table class="table table-condensed table-bordered table-hover">
            <thead>
                <tr>
                    <th>Mes Inicio</th>
                    <th>Mes Fin</th>
                    <th>Cargo </th>
                    @if (@ViewBag.BenefProdCargo.Cargo.carDescripcion == "DEPORTISTA")
                    {
                        <th>Descripción</th>
                    }
                    else
                    {
                        <th>Tipo Gasto</th>
                        <th>Costo</th>
                        <th>Costo Total</th>
                    }
                    <th>Objetivo</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.bgpMesInicio)

                        </td>
                        <td>
                            @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.bgpMesFin)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Beneficiario_Producto_Cargo.Cargo.carNombre)
                        </td>
                        @if (@ViewBag.BenefProdCargo.Cargo.carDescripcion == "DEPORTISTA")
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.bgpObjetivo)
                            </td>

                        }
                        else
                        {

                            <td>
                                @Html.DisplayFor(modelItem => item.Tipo_Gasto_Personal.tgpNombre)
                            </td>
                            <td>
                                <p class="text-right">@String.Format("{0:C0}", item.bgpCosto)
                            </td>
                            <td>
                                <p class="text-right">@String.Format("{0:C0}", item.bgpCostoTotal)
                            </td>
                        }
                        <td>
                            @if (item.bgpMarcaObjetivo == true)
                            {
                                <img src="../Images/True.png" />
                            }
                            else
                            {
                                <img src="../Images/False.png" />
                            }
                        </td>
                        <td>

                            @Html.Raw(@Html.ActionLink("[replacetext]", "URLGeolocalizacion", new { id = item.idBeneficiarioGastoPersonal, pendientes = 0 }, null).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Geolocalizacion' src=\"../Images/Mundo.png\" ... />"))

                            @if ((ViewBag.Proyecto.idWorkflow == (int)EnumEstados.Ingresada && ViewBag.Proyecto.estadoIngresado == 2) || @ViewBag.Proyecto.idWorkflow == (int)EnumEstados.Incompleto || @ViewBag.Proyecto.idWorkflow == (int)EnumEstados.Objetada)
                            {
                                @Html.Raw(@Html.ActionLink("[replacetext]", "Edit", new { id = item.idBeneficiarioGastoPersonal }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Editar' src=\"../Images/Edit.png\" ... />"))

                                @Html.Raw(@Html.ActionLink("[replacetext]", "Delete", new { id = item.idBeneficiarioGastoPersonal }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Eliminar' src=\"../Images/Trash.png\" ... />"))
                            }
                            @if (@ViewBag.Solicitud != null)
                            {
                                if (@ViewBag.Proyecto.idWorkflow == (int)EnumEstados.AprobadoSC && @ViewBag.Solicitud.scaPendiente == null && @ViewBag.ProductoSC.idProducto == @ViewBag.Solicitud.Producto_Copia.idProducto)
                                {
                                    @Html.Raw(@Html.ActionLink("[replacetext]", "Edit", new { id = item.idBeneficiarioGastoPersonal }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Editar' src=\"../Images/Edit.png\" ... />"))
                                    //TODO: Se comentan estas lineas por regla que evita que se elimine cualquier objeto del producto. Todo para mantener la integridad
                                    @*@Html.Raw(@Html.ActionLink("[replacetext]", "Delete", new { id = item.idBeneficiarioGastoPersonal }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Eliminar' src=\"../Images/Trash.png\" ... />"))*@
                                }
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
<div class="panel-footer">@Model.Count() Registro(s)</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
}