@model AltoRendimiento.Administracion.Models.ActualizacionBenPorDefinirModel

@using PagedList.Mvc;

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />


<script type="text/javascript">
    $(document).ready(function () {



        $("#tblCargos").DataTable({
            "language":
              {
                  "sProcessing": "Procesando...",
                  "sLengthMenu": "Mostrar _MENU_ registros",
                  "sZeroRecords": "No se encontraron resultados",
                  "sEmptyTable": "Ningún dato disponible en esta tabla",
                  "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                  "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                  "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                  "sInfoPostFix": "",
                  "sSearch": "Buscar:",
                  "sUrl": "",
                  "sInfoThousands": ",",
                  "sLoadingRecords": "Cargando...",
                  "oPaginate": {
                      "sFirst": "Primero",
                      "sLast": "último",
                      "sNext": "Siguiente",
                      "sPrevious": "Anterior"
                  },
                  "oAria": {
                      "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                      "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                  }
              }
        }).on("draw.dt", function () {
            addEventClickDataModal();
        });



    });
</script>

<div class="text-right">
    @Html.ActionLink("Volver", "Index", "BandejaEntrada", null, new { @class = "btn btn-sm btn-info pull-left", @style = "color:White" })
    @*Html.ActionLink("Nuevo", "AgregarNivel", "MantenedorNiveles", null, new { data_modal = "", id = "btnAgregarNivel", @class = "btn btn-sm btn-primary text-right", @style = "color:White" })*@
</div>
<br />
<br />

@using (Html.BeginForm("ActualizarBeneficiarios", "ActualizacionBenPorDefinir", FormMethod.Post, new { id = "formActualizaBen" }))
{
        <div class="table-responsive">
            <table id="tblCargos" class="table table-condensed table-bordered  table-hover">
                <thead>
                    <tr>
                        <th>
                            @*@Html.ActionLink("Nombre", "Index", new AltoRendimiento.Administracion.Models.MantenedorNivelModel { SortOrder = ViewBag.NombreSortParm, Page = Model.Page, NombreBuscar = Model.NombreBuscar, IdInternacional = Model.IdInternacional })*@
                            Código de Proyecto
                        </th>
                        <th>
                            Nombre del Proyecto
                        </th>
                        <th>
                            Nombre del Producto
                        </th>
                        <th>
                            Tipo de Producto
                        </th>
                        <th>
                            Federación
                        </th>
                        <th>
                            Rut
                        </th>
                        <th>
                            Acción
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaBeneficiariosPorDefinir)
                    {
                        <tr id="@item.IdBeneficiarioProductoCargo">
                            <td>
                                @item.folioProyecto
                            </td>
                            <td>
                                @item.nombreProyecto
                            </td>
                            <td>
                                @item.nombreProducto
                            </td>
                            <td>
                                @item.tipoProducto
                            </td>
                            <td>
                                @item.nombreOrganizacion
                            </td>
                            <td>
                                @Html.TextBox("rutBeneficiario" + item.IdBeneficiarioProductoCargo, "", new { @class = "form-control", id = "rutBeneficiario" + item.IdBeneficiarioProductoCargo, maxLength = "10", style = "width: 105px;" })
                                @Html.Hidden("hdnRutAprobado", "0", new { id = "hdnRutAprobado", fila = item.IdBeneficiarioProductoCargo })
                            </td>
                            <td class="text-right">
                                @Html.Raw(@Html.ActionLink("[replacetext]", "", null, new { data_modal_BorrarRut = "", fila = item.IdBeneficiarioProductoCargo, id = "borrar" }).ToHtmlString().Replace("[replacetext]", "<span Title='Limpiar' class='glyphicon glyphicon-edit'></span>"))
                                @*Html.Raw(@Html.ActionLink("[replacetext]", "", null, new { data_modal_BorrarRut = "", fila = item.IdBeneficiarioProductoCargo, id = "borrar" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' class='glyphicon glyphicon-edit' title='Limpiar' src=\"Images/Trash.png\" ... />"))*@
                                @Html.Raw(@Html.ActionLink("[replacetext]", "ValidarRutRCeI", null, new { data_modal_validar = "", fila = item.IdBeneficiarioProductoCargo, id = "validar" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Validar' src=\"Images/True.png\" ... />"))
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*<div id="dvInfoPaginacion">
                Página @(Model.ListaBeneficiariosPorDefinir.PageCount < Model.ListaBeneficiariosPorDefinir.PageNumber ? 0 : Model.ListaBeneficiariosPorDefinir.PageNumber) de @Model.ListaBeneficiariosPorDefinir.PageCount
                @Html.PagedListPager(Model.ListaBeneficiariosPorDefinir, page => Url.Action("Index", new AltoRendimiento.Administracion.Models.ActualizacionBenPorDefinirModel { SortOrder = ViewBag.CurrentSort, Page = page, idOrganizacion = Model.idOrganizacion/*, NombreBuscar = Model.NombreBuscar, IdInternacional = Model.IdInternacional */}))
            </div>*@
            <div style="text-align: center;">
                @Html.Raw(@Html.ActionLink("[replacetext]", "ActualizarBeneficiarios", null, new { data_modal_Actualizar = "", id = "btnActualizar" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' style='width: 65px;' title='Actualizar' src=\"Images/SubirArchivo.png\" ... />"))
            </div>
        </div>
    <br />
    <br />
}
<script>

    $("a[data-modal-validar]").on("click", function (e) {
        fila = $(this).attr("fila");
        var rexp = new RegExp(/^([0-9])+\-([kK0-9])+$/);
        if ($("#rutBeneficiario" + fila).val().match(rexp)) {
            $('#myModalContentValidar').load(this.href + "?rutBeneficiario=" + $("#rutBeneficiario" + fila).val(), function () {

                $('#myModalValidar').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');

                bindForm(this);
            });
        } else {
            alert("Debe ingresar un rut valido")
            return false;
        }

        return false;
    });

    $("a[data-modal-borrarrut]").on("click", function (e) {

        $("#rutBeneficiario" + $(this).attr("fila")).val("").removeAttr("readonly");
        $("#" + $(this).attr("fila")).removeClass("alert-success");
        $("#" + $(this).attr("fila")).removeClass("alert-danger");
        $("#hdnRutAprobado[fila='" + $(this).attr("fila") + "']").val("0");
        return false;
    });

    $("a[data-modal-Actualizar]").on("click", function (e) {
        var rutAprobado = $("input[id=hdnRutAprobado]");
        var aprobado = 0;
        rutAprobado.each(function () {
            if ($(this).val() == "1") {
                aprobado = 1;
                return false;
            }
        });

        if (aprobado == 1) {

            $('#myModalContent').load(this.href + "?" + $("#formActualizaBen").serialize(), function () {

                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');

                bindForm(this);
            });
        }
        else {
            alert("Al menos un rut debe estar aprobado");
        }
        return false;
    });
</script>