@model AltoRendimiento.Administracion.Models.DocumentoModel

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/modalform.js"></script>
<link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {


        var adm = '@AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.admin';

        if (adm == 'False') {
            $('#Administracion').addClass("hide");
        }

        $('#btnCargarDocumentoProyecto').click(function () {

            var url = '@Url.Action("CargaDocumento")';
            var model = $('#frm_CargaDoc').serialize();
            console.log(model);
            $.ajax({
                url: url,
                type: 'POST',
                data: { 'IdProyecto': '@Model.IdProyecto' },
                success: function (data) {
                    console.log(data);
                    $('#myModalContent').html(data);
                    $('#myModal').modal('show');
                },
                error: function (data) {


                }
            });
        });
    });
</script>


<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<script src="~/Scripts/modalform.js"></script>

<div class="panel panel-default">
    <div class="panel-heading">Información de Proyecto </div>
    <br />
    <div class="form-horizontal">
        @using (Html.BeginForm("Index", "BandejaEntrada", FormMethod.Post, new { @id = "frm_CargaDoc" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            <fieldset disabled>
                <div class="form-group">
                    <label id="lblNombreProyecto" class="col-lg-2 control-label">Proyecto</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(p => p.Proyecto, new { @class = "form-control disabled", @value = Model.Documento })
                        @Html.HiddenFor(p => p.FolioProyecto, new { @id = "IdProyecto", @value = Model.IdProyecto })
                    </div>
                </div>
                <div class="form-group">
                    <label id="lbl_idProyecto" class="col-lg-2 control-label">Código Proyecto</label>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(p => p.CodigoProyecto, new { @class = "form-control" })
                    </div>
                </div>
            </fieldset>
            <div class="panel-heading">
                <input type="button" id="btnCargarDocumentoProyecto" class="btn btn-sm btn-primary" @((@AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnCargarDocumentoProyecto == false) ? "disabled" : "") value="Cargar Archivo" />
            </div>
        }
    </div>

</div>
<div class="panel panel-default">

    <div class="panel-heading">
        @Html.ActionLink("volver", "Index", null, new { @class = "btn btn-sm btn-warning", @data_toggle = "tooltip", @title = "Volver a la Bandeja de Entrada" })
        @Html.ActionLink("Documentos Beneficiarios", "DocumentosProyecto", new { IdProyecto = Model.IdProyecto, idTipoInformacion = 2 }, new { @class = "btn btn-sm btn-success", @data_toggle = "tooltip", @title = "Documentos de Beneficiarios" })
        @Html.ActionLink("Informe Avance / Otros", "DocumentosProyecto", new { IdProyecto = Model.IdProyecto, idTipoInformacion = 3 }, new { @class = "btn btn-sm btn-success", @data_toggle = "tooltip", @title = "Informe Avance / Otros" })

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {



        $("#tblConveniosResolucion").DataTable({
            "language":
              {
                  "sProcessing": "Procesando...",
                  "sLengthMenu": "Mostrar _MENU_ registros",
                  "sZeroRecords": "No se encontraron documentos de Convenios y resoluciones.",
                  "sEmptyTable": "No se encontraron documentos de Convenios y resoluciones.",
                  "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                  "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                  "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                  "sInfoPostFix": "",
                  "sSearch": "Buscar:",
                  "sUrl": "",
                  "sInfoThousands": ",",
                  "sLoadingRecords": "Cargando...",
                  "oPaginate": {
                      "sFirst": "Primero",
                      "sLast": "último",
                      "sNext": "Siguiente",
                      "sPrevious": "Anterior"
                  },
                  "oAria": {
                      "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                      "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                  }
              }
        }).on("draw.dt", function () {
            addEventClickDataModal();
        });



    });
</script>

<div id="area_tabla">
    <table id="tblConveniosResolucion" class="table table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Nombre Documento
                </th>
                <th>
                    Nombre Archivo
                </th>
                <th>
                    Fecha de Carga
                </th>
                <th>
                    Usuario de Carga
                </th>
                <th>
                    Tipo
                </th>

                <th>
                    Documento
                </th>
            </tr>
        </thead>
            @foreach (var row in Model.ListaDocumentos)
            {
                <tr>
                    <td>@row.NombreIdentificacion</td>
                    <td>@row.Nombre</td>
                    <td>@row.FechaCreacion</td>
                    <td>@row.NombreUsuario</td>
                    <td>@row.TipoDocumento</td>
                    <td>
                        @Html.Raw(@Html.ActionLink("[replacetext]", "DescargarDocumento", new { idProyecto = row.IdProyecto, idDocumento = row.IdDocumento }, new { @class = "fa fa-file-o  fa-lg", @data_toggle = "tooltip", @title = "Descargar Documento" }).ToHtmlString().Replace("[replacetext]", ""))
                    </td>
                </tr>
            }
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {



        $("#tblBeneficiarios").DataTable({
            "language":
              {
                  "sProcessing": "Procesando...",
                  "sLengthMenu": "Mostrar _MENU_ registros",
                  "sZeroRecords": "No se encontraron documentos de Beneficiarios.",
                  "sEmptyTable": "No se encontraron documentos de Beneficiarios.",
                  "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                  "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                  "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                  "sInfoPostFix": "",
                  "sSearch": "Buscar:",
                  "sUrl": "",
                  "sInfoThousands": ",",
                  "sLoadingRecords": "Cargando...",
                  "oPaginate": {
                      "sFirst": "Primero",
                      "sLast": "último",
                      "sNext": "Siguiente",
                      "sPrevious": "Anterior"
                  },
                  "oAria": {
                      "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                      "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                  }
              }
        }).on("draw.dt", function () {
            addEventClickDataModal();
        });



    });
</script>

@if (Model.idTipoInformacion == 2)
{
    <div class="panel panel-default">
        <div class="panel-heading">Documentos beneficiario</div>
        <br />
        <div id="area_tabla" class="panel-body">
            <table id="tblBeneficiarios" class="table table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Rut/Pasaporte
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Género
                        </th>
                        <th>
                            Nacionalidad
                        </th>
                        <th>
                            Fecha Nacimiento
                        </th>
                        <th>
                            Tipo Documento
                        </th>

                        <th>
                            Documento
                        </th>
                    </tr>
                </thead>
                @foreach (var row in Model.ListaDocumentosBeneficiario)
                    {
                        <tr>
                            <td>@row.RutBeneficiario</td>
                            <td>@row.NombreBeneficiario</td>
                            @if (@row.Genero == 2)
                            {
                                <td>Masculino</td>
                            }
                            else
                                if (@row.Genero == 1)
                                {
                                    <td>Femenino</td>
                                }
                                else
                                {
                                    <td>No encontrado</td>
                                }
                            <td>@row.NombreNacionalidad</td>
                            <td>@row.FechaNacimiento.ToShortDateString()</td>
                            <td>@row.TipoDocumento</td>
                            <td>
                                @Html.Raw(@Html.ActionLink("[replacetext]", "DescargarDocumento", new { idProyecto = row.IdProyecto, idDocumento = row.idDocumentoBeneficiario, docBeneficiario = true }, new { @class = "fa fa-file-o  fa-lg", @data_toggle = "tooltip", @title = "Descargar Documento" }).ToHtmlString().Replace("[replacetext]", ""))
                            </td>


                        </tr>
                    }
            </table>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {



        $("#tblInformeAvanceOtros").DataTable({
            "language":
              {
                  "sProcessing": "Procesando...",
                  "sLengthMenu": "Mostrar _MENU_ registros",
                  "sZeroRecords": "No se encontraron documentos de Informe de avance y Otros.",
                  "sEmptyTable": "No se encontraron documentos de Informe de avance y Otros.",
                  "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                  "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                  "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                  "sInfoPostFix": "",
                  "sSearch": "Buscar:",
                  "sUrl": "",
                  "sInfoThousands": ",",
                  "sLoadingRecords": "Cargando...",
                  "oPaginate": {
                      "sFirst": "Primero",
                      "sLast": "último",
                      "sNext": "Siguiente",
                      "sPrevious": "Anterior"
                  },
                  "oAria": {
                      "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                      "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                  }
              }
        }).on("draw.dt", function () {
            addEventClickDataModal();
        });



    });
</script>
@if (Model.idTipoInformacion == 3)
{
    <div class="panel panel-default">
        <div class="panel-heading">Informe Avance / Otros</div>
        <br />
        <div id="area_tabla" class="panel-body">
            <table id="tblInformeAvanceOtros" class="table table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Nombre Documento
                        </th>
                        <th>
                            Nombre Archivo
                        </th>
                        <th>
                            Fecha de Carga
                        </th>
                        <th>
                            Usuario de Carga
                        </th>
                        <th>
                            Tipo
                        </th>

                        <th>
                            Documento
                        </th>
                    </tr>
                </thead>
                    @foreach (var row in Model.ListaDocumentosInformeAvanceOtros)
                    {
                        <tr>
                            <td>@row.NombreIdentificacion</td>
                            <td>@row.Nombre</td>
                            <td>@row.FechaCreacion</td>
                            <td>@row.NombreUsuario</td>
                            <td>@row.TipoDocumento</td>
                            <td>
                                @Html.Raw(@Html.ActionLink("[replacetext]", "DescargarDocumento", new { idProyecto = row.IdProyecto, idDocumento = row.IdDocumento }, new { @class = "fa fa-file-o  fa-lg", @data_toggle = "tooltip", @title = "Descargar Documento" }).ToHtmlString().Replace("[replacetext]", ""))
                            </td>


                        </tr>
                    }
            </table>
        </div>
    </div>
}
