@{
    ViewBag.Title = "Versión de Proyectos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AltoRendimiento.Administracion.Models.ProyectoVersionModel



<script type="text/javascript">

    @*$(document).ready(function () {

        var mensaje = '@ViewData["Mensaje"]';
        console.log(mensaje);
        if (mensaje != "") {
            var mensajeUsuario = '<div class="alert ' + "" + ' alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button>' + mensaje + '</div>';
            $("#mensajeresolucion").append(mensajeUsuario);

        }

        $('#CodigoProyecto').keyup(function () {
            this.value = (this.value + '').replace(/[^0-9]/g, '');
        });

        $("#btnBuscar").click(function () {
            $("#form-BuscarProyecto").reset();
            HTMLFormElement.reset()
        });
    });*@




</script>
 
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="label">
                            Folio Proyecto:
                        </label>
                        <div class="form-group col-md-10">
                            @Html.LabelFor(p => p.folioProyecto, Model.folioProyecto.ToString(), new { @class = "control-label" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="label">
                            Nombre Proyecto:
                        </label>
                        <div class="form-group col-md-10">
                            @Html.LabelFor(p => p.nombreProyecto, Model.nombreProyecto.ToString(), new { @class = "control-label" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-group col-md-2 control-label" for=" label">
                            Fecha Creación:
                        </label>
                        <div class="form-group col-md-10">
                            @Html.LabelFor(p => p.fechaCreacionProyecto, Model.fechaCreacionProyecto.ToShortDateString(), new { @class = "control-label" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-group col-md-2 control-label" for=" label">
                            Ver Reporte:
                        </label>
                        <div class="form-group col-md-10">
                            <p>@Html.Raw(@Html.ActionLink("[replacetext]", "DescargarDocumentoHistorialProyecto", new { idProyecto = Model.idProyecto, Idproyectoversion = Model.idProyectoVersion }, new { @class = "button btn-info btn-sm", @data_toggle = "tooltip", @title = "Ver Proyecto", @style = Model.idProyectoVersion == 0 ? "display:none;" : "" }).ToHtmlString().Replace("[replacetext]", "Descargar"))</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-warning pull-right" })

@if (Model.idProyectoVersion > 0)
{
@Html.Partial("_ListHistorial", Model)
}else{
    <h4>No hay versiones disponibles para este proyecto</h4>
}