@model AltoRendimiento.Administracion.Models.BandejaEntradaModel
@*<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />*@
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/modalform.js"></script>
<link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />

<style>
    td a {
        margin-bottom: 7%;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {



        $("#TableProyecto").DataTable({
            "language":
              {
                  "sProcessing": "Procesando...",
                  "sLengthMenu": "Mostrar _MENU_ registros",
                  "sZeroRecords": "No se encontraron resultados",
                  "sEmptyTable": "Ningún dato disponible en esta tabla",
                  "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                  "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                  "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                  "sInfoPostFix": "",
                  "sSearch": "Buscar:",
                  "sUrl": "",
                  "sInfoThousands": ",",
                  "sLoadingRecords": "Cargando...",
                  "oPaginate": {
                      "sFirst": "Primero",
                      "sLast": "último",
                      "sNext": "Siguiente",
                      "sPrevious": "Anterior"
                  },
                  "oAria": {
                      "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                      "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                  }
              }
        }).on("draw.dt", function () {
            addEventClickDataModal();
        });



    });
</script>

<div class="container">
    <div id='myModal' class='modal fade in'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table id="TableProyecto" class="table table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-xs-3">
                    Proyecto
                </th>
                <th class="col-xs-1">
                    Código
                </th>
                <th class="col-xs-1">
                    Monto
                </th>
                <th>
                    Línea
                </th>
                <th>
                    Federación
                </th>
                <th>
                    Categoria
                </th>
                <th class="col-xs-1">
                    Estado
                </th>
                <th class="col-xs-1">
                    Acción
                </th>

            </tr>
        </thead>
        <tbody>
            @{decimal proy = 0;
            decimal proyIncompleto = 0;}
            @foreach (var row in Model.getListaProyecto)
            {

                <tr class="@((row.OkPresupuesto == false) ? "danger" : "")">


                    <td>@row.NombreProyecto</td>
                    <td>@row.CodigoProyecto</td>
                    <td>@string.Format("{0:C0}", row.MontoProyecto)</td>
                    <td>@row.LineaFinanciamiento</td>
                    <td>@row.Federacion</td>
                    <td>@row.Categoria</td>
                    <td>@row.Estado (@row.FechaEstado)</td>

                    <td style="text-align: left;text-align: right;text-align: center;vertical-align: middle">
                        @if (row.IdWorkFlow == 11 || row.IdWorkFlow == 12)
                        {
                            @Html.Raw(@Html.ActionLink("[replacetext]", "DescargarDocumentoHistorialProyecto", new { idProyecto = row.IdProyecto, Idproyectoversion = row.IdProyectoVersion }, new { @class = "fa fa-eye  fa-lg", @data_toggle = "tooltip", @title = "Ver Proyecto" }).ToHtmlString().Replace("[replacetext]", ""))
                        }
                        else
                        {
                            <a href="#" onclick="VerProyecto(@row.IdProyecto)" data_toggle="tooltip" title="Ver Proyecto" class="fa fa-eye fa-lg" @((@AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnVerProyecto == false) ? "display:none" : "display:block")></a>
                        }
                        @Html.Raw(@Html.ActionLink("[replacetext]", "HistorialCambiosProyecto", new { CodigoProyecto = @row.IdProyecto, orgNombre = @row.Federacion }, new { @class = "fa fa-calendar-check-o fa-lg", @data_toggle = "tooltip", @title = "Historial de estados del proyecto", @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnHistoriaCambiosProyecto == false ? "display:none" : "display:block" }).ToHtmlString().Replace("[replacetext]", ""))
                        @{switch (Convert.ToUInt32(row.IdWorkFlow))
                        {
                            case 1:
                                @*@Html.Raw(@Html.ActionLink("[replacetext]" , "DocumentosProyecto" , new { IdProyecto = @row.IdProyecto, idTipoInformacion = 1} , new { @class = "fa fa-file-o fa-lg" , @data_toggle = "tooltip" , @title = "Documentos del Proyecto" , @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnDocumento == false ? "display:none" : "display:block" , text_decoration = "none" }).ToHtmlString().Replace("[replacetext]" , ""))*@
                                break;
                            case 2:

                            @Html.Raw(@Html.ActionLink("[replacetext]", "EvaluarProyecto", new { idProyecto = @row.IdProyecto, idEstado = row.IdWorkFlow }, new { @class = "fa fa-check fa-lg", @data_toggle = "tooltip", @title = "Evaluar Proyecto", @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnEvaluarProyecto == false ? "display:none" : "display:block", text_decoration = "none" }).ToHtmlString().Replace("[replacetext]", "").TrimEnd())
                            @*@Html.Raw(@Html.ActionLink("[replacetext]" , "HistorialEstados" , new { CodigoProyecto = @row.IdProyecto } , new { @class = "fa fa-calendar fa-lg" , @data_toggle = "tooltip" , @title = "Historial de Estados" , @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnHistoriaEstado == false ? "display:none" : "display:block" , text_decoration = "none" }).ToHtmlString().Replace("[replacetext]" , ""))*@
                            <a href="#" onclick="volverAtrasProyecto(@row.IdProyecto)" data_toggle:"tooltip" title="Volver Proyecto atras" class="fa fa-undo fa-lg" style=@((@AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnVerProyecto == false) ? "display:none" : "display:block")></a>
                            @*@Html.Raw(@Html.ActionLink("[replacetext]" , "DocumentosProyecto" , new { IdProyecto = @row.IdProyecto, idTipoInformacion = 1} , new { @class = "fa fa-file-o fa-lg" , @data_toggle = "tooltip" , @title = "Documentos del Proyecto" , @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnDocumento == false ? "display:none" : "display:block" , text_decoration = "none" }).ToHtmlString().Replace("[replacetext]" , ""))*@

                                break;
                            case 3:

                            @Html.Raw(@Html.ActionLink("[replacetext]", "EvaluacionPreseleccionado", new { idProyecto = @row.IdProyecto, idEstado = row.IdWorkFlow }, new { @class = "fa fa-check-square-o fa-lg", @data_toggle = "tooltip", @title = "Evaluar Proyecto Pre-Seleccionado", @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnEvaluarPreselecionado == false ? "display:none" : "display:block", text_decoration = "none" }).ToHtmlString().Replace("[replacetext]", "").TrimEnd())
                            <a href="#" onclick="volverAtrasProyecto(@row.IdProyecto)" data_toggle:"tooltip" title="Volver Proyecto atras" class="fa fa-undo fa-lg" style=@((@AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnEvaluarPreselecionado == false) ? "display:none" : "display:block")></a>
                            @Html.Raw(@Html.ActionLink("[replacetext]", "AnularProyecto", new { IdProyecto = @row.IdProyecto, idEstado = 8 }, new { @class = "fa fa-minus-circle fa-lg", @data_toggle = "tooltip", @title = "Anular Proyecto", @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnAnularAnularProyecto == false ? "display:none" : "display:block" }).ToHtmlString().Trim().Replace("[replacetext]", ""))
                            @*@Html.Raw(@Html.ActionLink("[replacetext]" , "HistorialEstados" , new { CodigoProyecto = @row.IdProyecto } , new { @class = "fa fa-calendar fa-lg" , @data_toggle = "tooltip" , @title = "Historial de Estados", text_decoration = "none" }).ToHtmlString().Replace("[replacetext]" , ""))*@
                            @*@Html.Raw(@Html.ActionLink("[replacetext]" , "DocumentosProyecto" , new { IdProyecto = @row.IdProyecto, idTipoInformacion = 1} , new { @class = "fa fa-file-o fa-lg" , @data_toggle = "tooltip" , @title = "Documentos del Proyecto" , @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnDocumento == false ? "display:none" : "display:block" , text_decoration = "none" }).ToHtmlString().Replace("[replacetext]" , ""))*@

                                break;
                            case 6:

                            @Html.Raw(@Html.ActionLink("[replacetext]", "EvaluacionSeleccionado", new { idProyecto = @row.IdProyecto, idEstado = row.IdWorkFlow }, new { @class = "fa fa-check-square-o fa-lg", @data_toggle = "tooltip", @title = "Evaluar Proyecto Seleccionado", @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnEvaluarSeleccionado == false ? "display:none" : "display:block", text_decoration = "none" }).ToHtmlString().Replace("[replacetext]", ""))
                            <a href="#" onclick="volverAtrasProyecto(@row.IdProyecto)" data_toggle:"tooltip" title="Volver Proyecto atras" class="fa fa-undo fa-lg" style=@((@AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnEvaluarSeleccionado == false) ? "display:none" : "display:block")></a>
                            @*@Html.Raw(@Html.ActionLink("[replacetext]" , "HistorialEstados" , new { CodigoProyecto = @row.IdProyecto } , new { @class = "fa fa-calendar fa-lg" , @data_toggle = "tooltip" , @title = "Historial de Estados" , @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnHistoriaEstado == false ? "display:none" : "display:block" , text_decoration = "none" }).ToHtmlString().Replace("[replacetext]" , ""))*@
                            @*@Html.Raw(@Html.ActionLink("[replacetext]" , "DocumentosProyecto" , new { IdProyecto = @row.IdProyecto, idTipoInformacion = 1} , new { @class = "fa fa-file-o fa-lg" , @data_toggle = "tooltip" , @title = "Documentos del Proyecto" , @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnDocumento == false ? "display:none" : "display:block" , text_decoration = "none" }).ToHtmlString().Replace("[replacetext]" , ""))*@

                                break;
                            case 7:


                            @*if (row.Movimientos.Count() > 0)
                                {
                                    @Html.Raw(@Html.ActionLink("[replacetext]" , "AnularProyecto" , new { IdProyecto = @row.IdProyecto , idEstado = 9 } , new { @class = "fa fa-stop-circle-o fa-lg" , @data_toggle = "tooltip" , @title = "Suspender Proyecto" , @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnAnularAnularProyecto == false ? "display:none" : "display:block" }).ToHtmlString().Trim().Replace("[replacetext]" , ""))
                                }
                                else
                                {
                                    @Html.Raw(@Html.ActionLink("[replacetext]" , "AnularProyecto" , new { IdProyecto = @row.IdProyecto , idEstado = 8 } , new { @class = "fa fa-minus-circle fa-lg" , @data_toggle = "tooltip" , @title = "Anular Proyecto" , @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnAnularAnularProyecto == false ? "display:none" : "display:block" }).ToHtmlString().Trim().Replace("[replacetext]" , ""))
                                }*@

                            @*@Html.Raw(@Html.ActionLink("[replacetext]" , "HistorialEstados" , new { CodigoProyecto = @row.IdProyecto } , new { @class = "fa fa-calendar fa-lg" , @data_toggle = "tooltip" , @title = "Historial de Estados" , @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnHistoriaEstado == false ? "display:none" : "display:block" }).ToHtmlString().Replace("[replacetext]" , ""))*@
                            @Html.Raw(@Html.ActionLink("[replacetext]", "HistorialSolicitudCambio", new { CodigoProyecto = @row.IdProyecto }, new { @class = "fa fa-info-circle fa-lg", @data_toggle = "tooltip", @title = "Historial Solicitud de Cambios ", @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnHistoriaSolicituddeCambio == false ? "display:none" : "display:block" }).ToHtmlString().Replace("[replacetext]", ""))
                            @*@Html.Raw(@Html.ActionLink("[replacetext]" , "DocumentosProyecto" , new { IdProyecto = @row.IdProyecto, idTipoInformacion = 1} , new { @class = "fa fa-file-o fa-lg" , @data_toggle = "tooltip" , @title = "Documentos del Proyecto" , @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnDocumento == false ? "display:none" : "display:block" , text_decoration = "none" }).ToHtmlString().Replace("[replacetext]" , ""))*@
                                break;
                            case 5:
                            @*@Html.Raw(@Html.ActionLink("[replacetext]" , "HistorialEstados" , new { CodigoProyecto = @row.IdProyecto } , new { @class = "fa fa-calendar fa-lg" , @data_toggle = "tooltip" , @title = "Historial de Estados" , @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnHistoriaEstado == false ? "display:none" : "display:block" }).ToHtmlString().Replace("[replacetext]" , ""))*@
                            @*@Html.Raw(@Html.ActionLink("[replacetext]" , "DocumentosProyecto" , new { IdProyecto = @row.IdProyecto, idTipoInformacion = 1} , new { @class = "fa fa-file-o fa-lg" , @data_toggle = "tooltip" , @title = "Documentos del Proyecto" , @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnDocumento == false ? "display:none" : "display:block" , text_decoration = "none" }).ToHtmlString().Replace("[replacetext]" , ""))*@

                                break;
                            case 8:

                            @*@Html.Raw(@Html.ActionLink("[replacetext]" , "HistorialEstados" , new { CodigoProyecto = @row.IdProyecto } , new { @class = "fa fa-calendar fa-lg" , @data_toggle = "tooltip" , @title = "Historial de Estados" , @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnHistoriaEstado == false ? "display:none" : "display:block" }).ToHtmlString().Replace("[replacetext]" , ""))*@
                            @Html.Raw(@Html.ActionLink("[replacetext]", "HistorialSolicitudCambio", new { CodigoProyecto = @row.IdProyecto }, new { @class = "fa fa-info-circle fa-lg", @data_toggle = "tooltip", @title = "Historial Solicitud de Cambios ", @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnHistoriaSolicituddeCambio == false ? "display:none" : "display:block" }).ToHtmlString().Replace("[replacetext]", ""))
                            @*@Html.Raw(@Html.ActionLink("[replacetext]" , "DocumentosProyecto" , new { IdProyecto = @row.IdProyecto, idTipoInformacion = 1} , new { @class = "fa fa-file-o fa-lg" , @data_toggle = "tooltip" , @title = "Documentos del Proyecto" , @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnDocumento == false ? "display:none" : "display:block" , text_decoration = "none" }).ToHtmlString().Replace("[replacetext]" , ""))*@

                                break;
                            case 9:

                            @*@Html.Raw(@Html.ActionLink("[replacetext]" , "HistorialEstados" , new { CodigoProyecto = @row.IdProyecto } , new { @class = "fa fa-calendar fa-lg" , @data_toggle = "tooltip" , @title = "Historial de Estados" , @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnHistoriaEstado == false ? "display:none" : "display:block" }).ToHtmlString().Replace("[replacetext]" , ""))*@
                            @Html.Raw(@Html.ActionLink("[replacetext]", "HistorialSolicitudCambio", new { CodigoProyecto = @row.IdProyecto }, new { @class = "fa fa-info-circle fa-lg", @data_toggle = "tooltip", @title = "Historial Solicitud de Cambios ", @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnHistoriaSolicituddeCambio == false ? "display:none" : "display:block" }).ToHtmlString().Replace("[replacetext]", ""))
                            @*@Html.Raw(@Html.ActionLink("[replacetext]" , "DocumentosProyecto" , new { IdProyecto = @row.IdProyecto, idTipoInformacion = 1} , new { @class = "fa fa-file-o fa-lg" , @data_toggle = "tooltip" , @title = "Documentos del Proyecto" , @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnDocumento == false ? "display:none" : "display:block" , text_decoration = "none" }).ToHtmlString().Replace("[replacetext]" , ""))*@
                                break;
                            case 4:
                            @*@Html.Raw(@Html.ActionLink("[replacetext]" , "HistorialEstados" , new { CodigoProyecto = @row.IdProyecto } , new { @class = "fa fa-calendar fa-lg" , @data_toggle = "tooltip" , @title = "Historial de Estados" , @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnHistoriaEstado == false ? "display:none" : "display:block" }).ToHtmlString().Replace("[replacetext]" , ""))*@
                            @*@Html.Raw(@Html.ActionLink("[replacetext]" , "DocumentosProyecto" , new { IdProyecto = @row.IdProyecto, idTipoInformacion = 1} , new { @class = "fa fa-file-o fa-lg" , @data_toggle = "tooltip" , @title = "Documentos del Proyecto" , @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnDocumento == false ? "display:none" : "display:block" , text_decoration = "none" }).ToHtmlString().Replace("[replacetext]" , ""))*@
                                break;

                                @**@case 11:
                                @*Html.Raw(@Html.ActionLink("[replacetext]", "HistorialCambio", new { CodigoProyecto = @row.IdProyecto }, new { @class = "fa fa-calendar fa-lg", @data_toggle = "tooltip", @title = "Historial de Cambios", @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnHistoriaEstado == false ? "display:none" : "display:block" }).ToHtmlString().Replace("[replacetext]", ""))*@

                                break;
                                case 12:

                                @*Html.Raw(@Html.ActionLink("[replacetext]", "HistorialCambio", new { CodigoProyecto = @row.IdProyecto }, new { @class = "fa fa-calendar fa-lg", @data_toggle = "tooltip", @title = "Historial de Cambios", @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnHistoriaEstado == false ? "display:none" : "display:block" }).ToHtmlString().Replace("[replacetext]", ""))*@
                                if (Model.getSolicitudes().Count() > 0)
                                {
                                    foreach (var item0 in Model.getSolicitudes())
                                    {
                                        if (item0.idProyecto == row.IdProyecto && item0.idProyecto != proy && item0.scaPendiente == true)
                                        {
                                            @Html.Raw(@Html.ActionLink("[replacetext]", "Index", "SolicitudCambio", new { IdProyecto = @row.IdProyecto }, new { @class = "fa fa-code-fork fa-lg", @data_toggle = "tooltip", @title = "Solicitud de Cambio", @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnSolicituddeCambio == false ? "display:none" : "display:block" }).ToHtmlString().Replace("[replacetext]", ""))
                                            proy = (decimal)item0.idProyecto;
                                        }

                                        if (item0.idProyecto == row.IdProyecto && item0.scaPendiente == null && item0.idProyecto != proyIncompleto)
                                        {
                                            <h5>Solicitud en Construcción</h5>
                                            proyIncompleto = (decimal)item0.idProyecto;
                                        }
                                    }
                                }
                                break;
                                case 13:

                                @Html.Raw(@Html.ActionLink("[replacetext]", "EvaluacionIngresado", new { idProyecto = @row.IdProyecto, idEstado = row.IdWorkFlow }, new { @class = "fa fa-check-square-o fa-lg", @data_toggle = "tooltip", @title = "Evaluar Proyecto Ingresado", @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnEvaluarIngresado == false ? "display:none" : "display:block", text_decoration = "none" }).ToHtmlString().Replace("[replacetext]", "").TrimEnd())
                                break;
                                default:
                                break;
                        }
                        @Html.Raw(@Html.ActionLink("[replacetext]", "HistorialCambio", new { CodigoProyecto = @row.IdProyecto }, new { @class = "fa fa-calendar fa-lg", @data_toggle = "tooltip", @title = "Historial de Cambios", @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnHistoriaEstado == false ? "display:none" : "display:block" }).ToHtmlString().Replace("[replacetext]", ""))
                            @Html.Raw(@Html.ActionLink("[replacetext]", "DocumentosProyecto", new { IdProyecto = @row.IdProyecto, idTipoInformacion = 1 }, new { @class = "fa fa-file-o fa-lg", @data_toggle = "tooltip", @title = "Documentos del Proyecto", @style = @AltoRendimiento.Administracion.Util.SessionIND.Current.BandejaEntrada.btnDocumento == false ? "display:none" : "display:block", text_decoration = "none" }).ToHtmlString().Replace("[replacetext]", ""))
                        }

                    </td>















                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    function VerProyecto(idProyecto) {
        var url = "@ViewBag.urlReporte" + "/Default.aspx?idreporte=1&idproyecto=" + idProyecto
        window.open(url)
    }
    function HistorialMovimiento(idProyecto) {
        var url = "@ViewBag.urlReporte" + "/Default.aspx?idreporte=1&idproyecto=" + idProyecto
        window.open(url)
    }
    function volverAtrasProyecto(idproyecto) {


        var url = '@Url.Action("CambiarEstadoObjetada")';
        $.ajax({
            url: url,
            type: 'POST',
            data: { IdProyecto: idproyecto },
            success: function (data) {
                $('#myModalContent').html(data);
                $('#myModal').modal('show');
            },
            error: function () {
                //alert("error");
            }
        });
    }

</script>

