@model AltoRendimiento.Administracion.Models.CiudadModel
@using PagedList.Mvc;
<div class="text-right">
    @Html.ActionLink("Volver", "Index", "BandejaEntrada", null, new { @class = "btn btn-sm btn-info pull-left", @style = "color:White" })
    @Html.ActionLink("Nueva", "CrearCiudad", "MantenedorCiudad", null, new { data_modal = "", id = "btnAgregarCiudad", @class = "btn btn-sm btn-primary text-right", @style = "color:White" })
</div>
<br />
<div class="table-responsive">
    <table id="tblData" class="table table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.sPais)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ciuNombre)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaCiudades)
            {
                <tr>
                    <td>
                        @item.sPais
                    </td>
                    <td>
                        @item.ciuNombre
                    </td>
                    <td>
                        @Html.Raw(@Html.ActionLink("[replacetext]", "DetalleCiudad", new { id = item.idCiudad }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Detalle' src=\"Images/Reporte.png\" ... />"))
                        @Html.Raw(@Html.ActionLink("[replacetext]", "EditarCiudad", new { id = item.idCiudad }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Editar' src=\"Images/Edit.png\" ... />"))
                        @Html.Raw(@Html.ActionLink("[replacetext]", "EliminarCiudad", new { id = item.idCiudad }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Eliminar' src=\"Images/Trash.png\" ... />"))
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id="dvInfoPaginacion">
        Página @(Model.ListaCiudades.PageCount < Model.ListaCiudades.PageNumber ? 0 : Model.ListaCiudades.PageNumber) de @Model.ListaCiudades.PageCount
        @Html.PagedListPager(Model.ListaCiudades, page => Url.Action("Index", new { page }))
    </div>
</div>
