@model AltoRendimiento.Models.Geolocalizacion
 
@using System.Threading;
@using System.Globalization;
@{
    ViewBag.Title = "Editar";
    Thread.CurrentThread.CurrentCulture = new CultureInfo("es-Es");
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Editar Geolocalización</h4>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.idGeolocalizacion)
            <div class="form-group">
                <label for="inputEmail3" class="col-md-3 control-label">Recinto</label>
                <div class="col-md-8">
                    @Html.DropDownList("idRecinto", null, String.Empty, new { @id = "Recintos-DropdownID", @class = "form-control" })

  @Html.ValidationMessageFor(model => model.idRecinto)
                </div>
            </div>

            <script src="//maps.google.com/maps/api/js?sensor=false&callback=initialize" type="text/javascript"></script>
            <div id="map_canvas" style="width: auto; height: 300px;">
            </div>
            <br />

            <div class="form-group">
                <label for="inputPassword3" class="col-md-3 control-label">Descripción</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(r => r.geoDescripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.geoDescripcion)
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-md-3 control-label">Dirección</label>
                <div class="col-md-8">
                    @Html.TextBox("valorDireccion", (string)@ViewBag.DireccionRecinto, new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group" id="divCoords">
                <label for="inputPassword3" class="col-md-3 control-label">Coordenadas</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.geoCoordenadaX, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.geoCoordenadaY, new { @class = "form-control" })
                </div>
            </div>  
            <label class="text-danger" id="resultadoMapa"></label>

        </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger pull-left" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-sm btn-success ">Guardar</button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>

    $("#divCoords").hide();
    $('html').bind('keypress', function (e) {
        if (e.keyCode == 13) {
            return false;
        }
    });
    $("#Recintos-DropdownID").change(function () {
        idSelected = $(this).val();
        $.ajax({
            url: '@Url.Action("getDireccionRecinto")' + "?idRecinto=" + idSelected,
            type: "POST",
            success: function (data) {
                $.each(data, function (index, value) {
                    codeAddress(value.nombre)
                    $("#valorDireccion").val(value.nombre);
                });
            },
            error: function () {
            }
        });
    });

    $('#geoCoordenadaX').attr('readonly', true);
    $('#geoCoordenadaY').attr('readonly', true);
    $('#valorDireccion').attr('readonly', true);
    var geocoder;
    var map;
    var marker;
    function initialize() {
        // Creating map object
        geocoder = new google.maps.Geocoder();

        map = new google.maps.Map(document.getElementById('map_canvas'), {
            zoom: 15,
            center: new google.maps.LatLng(@Model.Coordenadas),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        // creates a draggable marker to the given coords
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(@Model.Coordenadas),
            draggable: true
        });

        // adds a listener to the marker
        // gets the coords when drag event ends
        // then updates the input with the new coords
        google.maps.event.addListener(marker, 'dragend', function (evt) {
            $("#geoCoordenadaX").val(evt.latLng.lat().toFixed(6));
            $("#geoCoordenadaY").val(evt.latLng.lng().toFixed(6));

            map.panTo(evt.latLng);
        });

        // centers the map on markers coords
        map.setCenter(marker.position);

        // adds the marker on the map
        marker.setMap(map);


    }



    function codeAddress(direccion) {
        var address = direccion;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                marker.setPosition(results[0].geometry.location);
                $("#geoCoordenadaX").val(marker.getPosition().lat());
                $("#geoCoordenadaY").val(marker.getPosition().lng());
                $("#resultadoMapa").text(" ");

            } else {
                $("#resultadoMapa").text("Error no se logro geolocalizar la dirección registrada");
            }
        });
    }
</script>