@model AltoRendimiento.Models.Usuario

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Usuario", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Usuario</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.idOrganizacion, "idOrganizacion", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idOrganizacion", String.Empty)
                @Html.ValidationMessageFor(model => model.idOrganizacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idRol, "idRol", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idRol", String.Empty)
                @Html.ValidationMessageFor(model => model.idRol)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuRut, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuRut)
                @Html.ValidationMessageFor(model => model.usuRut)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuDv, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuDv)
                @Html.ValidationMessageFor(model => model.usuDv)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuNombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuNombre)
                @Html.ValidationMessageFor(model => model.usuNombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuApellidoPaterno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuApellidoPaterno)
                @Html.ValidationMessageFor(model => model.usuApellidoPaterno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuApellidoMaterno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuApellidoMaterno)
                @Html.ValidationMessageFor(model => model.usuApellidoMaterno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuContrasena, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuContrasena)
                @Html.ValidationMessageFor(model => model.usuContrasena)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuEmail)
                @Html.ValidationMessageFor(model => model.usuEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuDireccion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuDireccion)
                @Html.ValidationMessageFor(model => model.usuDireccion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuEstado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuEstado)
                @Html.ValidationMessageFor(model => model.usuEstado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuFechaCreacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuFechaCreacion)
                @Html.ValidationMessageFor(model => model.usuFechaCreacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuUsuarioCreacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuUsuarioCreacion)
                @Html.ValidationMessageFor(model => model.usuUsuarioCreacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuFechaModificacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuFechaModificacion)
                @Html.ValidationMessageFor(model => model.usuFechaModificacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuUsuarioModificacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuUsuarioModificacion)
                @Html.ValidationMessageFor(model => model.usuUsuarioModificacion)
            </div>
        </div> 
        <input id="file" type="file" name="file" style="font-size:14px;" />
        <input type="submit" value="Upload" class="btn" />
        <div class="err" style="padding-top:7px;">
            @ViewBag.error
        </div> 


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
