@model IEnumerable<AltoRendimiento.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.usuRut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuDv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuApellidoPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuApellidoMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuContrasena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuDireccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuFechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuUsuarioCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuFechaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuUsuarioModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organizacion.orgDv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rol.rolNombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.usuRut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuDv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuApellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuApellidoMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuContrasena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuDireccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuEstado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuFechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuUsuarioCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuFechaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuUsuarioModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organizacion.orgDv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol.rolNombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idUsuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.idUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idUsuario })
        </td>
    </tr>
}

</table>
