@model AltoRendimiento.Administracion.Models.MantenedorParametroModel

@using PagedList.Mvc;

<div class="text-right">
    @Html.ActionLink("Volver", "Index", "BandejaEntrada", null, new { @class = "btn btn-sm btn-info pull-left", @style = "color:White" })
    @Html.ActionLink("Nuevo", "AgregarParametro", "MantenedorParametro", null, new { data_modal = "", id = "btnAgregarParametro", @class = "btn btn-sm btn-primary text-right", @style = "color:White" })
</div>
<br />

<div class="table-responsive">
    <table id="tblParametros" class="table table-condensed table-bordered  table-hover">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Nombre", "Index", new AltoRendimiento.Administracion.Models.MantenedorParametroModel { SortOrder = ViewBag.NombreSortParm, Page = Model.Page, NombreBuscar = Model.NombreBuscar })
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Acción
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaParametros)
            {
                <tr>
                    <td>
                        @item.Nombre
                    </td>
                    <td>
                        @item.Valor
                    </td>
                    <td>
                        @item.Descripcion
                    </td>
                    <td class="text-right">
                        @Html.Raw(@Html.ActionLink("[replacetext]", "EditarParametro", new { id = item.IdParametro }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Editar' src=\"Images/Edit.png\" ... />"))
                        @Html.Raw(@Html.ActionLink("[replacetext]", "EliminarParametro", new { id = item.IdParametro }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Eliminar' src=\"Images/Trash.png\" ... />"))
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id="dvInfoPaginacion">
        Página @(Model.ListaParametros.PageCount < Model.ListaParametros.PageNumber ? 0 : Model.ListaParametros.PageNumber) de @Model.ListaParametros.PageCount
        @Html.PagedListPager(Model.ListaParametros, page => Url.Action("Index", new AltoRendimiento.Administracion.Models.MantenedorParametroModel { Page = page, SortOrder = ViewBag.CurrentSort, NombreBuscar = Model.NombreBuscar }))
    </div>
</div>
