@model AltoRendimiento.Administracion.Models.PermisoModel

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


<script src="~/Scripts/modalform.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Inicio" , "Index" , "BandejaEntrada")</li>
            <li>Mantenedor de Permisos</li>
        </ol>
    </div>
</div>
<h3>Mantenedor de Permisos</h3>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Filtros</div>
            @using (Html.BeginForm("Index" , "MantenedorPermiso" , FormMethod.Post))
            {
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            @Html.Label("Rol" , new { @class = "control-label col-md-1" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.Id_Rol , Model.ListRol , "--Seleccione--" , new { @class = "form-control" , @data_toggle = "tooltip" , @title = "Perfil" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group pull-right">
                            <div class="col-md-12">
                                <button value="Filtrar" id="btnFiltrar" class="btn btn-sm btn-success">Filtrar</button>
                                <a href="MantenedorRol" class="btn btn-sm btn-default">Limpiar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @Html.Partial("List_Permiso" , Model)
    </div>
</div>

<div id="divMensaje"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
}

<script>
    $('#btnCambiarEstadoPreselecionado').click(function () {

        var url = '@Url.Action("CambiarEstado")';
        var model = $('form').serialize();

        $.ajax({
            url: url,
            type: 'POST',
            data: model,
            success: function (data) {
                console.log(data);
                $('#myModalContent').html(data);

                $('#myModal').modal('show');
            },
            error: function () {
                alert("error");
            }
        })
    });
</script>