@model AltoRendimiento.Administracion.Models.CuentaModel
@using PagedList.Mvc;
<div class="text-right">
    @Html.ActionLink("Volver", "Index", "BandejaEntrada", null, new { @class = "btn btn-sm btn-info pull-left", @style = "color:White" })
    @Html.ActionLink("Nueva", "CrearCuenta", "MantenedorCuenta", null, new { data_modal = "", id = "btnAgregarCuenta", @class = "btn btn-sm btn-primary text-right", @style = "color:White" })
</div>
<br />
<div class="table-responsive">
    <table id="tblData" class="table table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.sCentroFinanciero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ctaAno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ctaNumeroCuenta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ctaNombreCuenta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ctaPresupuestoVigente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ctaReintegro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ctaGirado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ctaAsignado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listaCuentas)
            {
                <tr>
                    <td>
                        @item.sCentroFinanciero
                    </td>
                    <td>
                        @item.ctaAno
                    </td>
                    <td>
                        @item.ctaNumeroCuenta
                    </td>
                    <td>
                        @item.ctaNombreCuenta
                    </td>
                    <td>
                        @item.ctaPresupuestoVigente
                    </td>
                    <td>
                        @item.ctaReintegro
                    </td>
                    <td>
                        @item.ctaGirado
                    </td>
                    <td>
                        @item.ctaAsignado
                    </td>
                    <td>
                        @Html.Raw(@Html.ActionLink("[replacetext]", "DetalleCuenta", new { id = item.idCuenta }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Detalle' src=\"Images/Reporte.png\" ... />"))
                        @Html.Raw(@Html.ActionLink("[replacetext]", "EditarCuenta", new { id = item.idCuenta }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Editar' src=\"Images/Edit.png\" ... />"))
                        @Html.Raw(@Html.ActionLink("[replacetext]", "EliminarCuenta", new { id = item.idCuenta }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Eliminar' src=\"Images/Trash.png\" ... />"))
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id="dvInfoPaginacion">
        Página @(Model.listaCuentas.PageCount < Model.listaCuentas.PageNumber ? 0 : Model.listaCuentas.PageNumber) de @Model.listaCuentas.PageCount
        @Html.PagedListPager(Model.listaCuentas, page => Url.Action("Index", new { page }))
    </div>
</div>
