@model AltoRendimiento.Administracion.Models.AdministracionOrganizacionModel

@{
    ViewBag.Title = "Eliminar Organizacion.";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea eliminar la organización?</h4>
</div>
@using (Html.BeginForm())
{
    <div class="modal-body">
        <div class="form-horizontal">
            <div id="mensaje">
            </div>
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.idOrganizacion)
            <div class="panel panel-default">
                <div class="panel-heading">

                    Antecedentes de la Organización

                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Rut, "Rut", new { @class = "col-md-2" })
                        <div class="col-md-4">
                            @Model.Rut
                            @Html.HiddenFor(model => model.Rut)
                        </div>
                        @Html.LabelFor(model => model.Nombre, "Nombre", new { @class = "col-md-1" })
                        <div class="col-md-5">
                            @Model.Nombre
                            @Html.HiddenFor(model => model.Nombre)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Fax, "Fax", new { @class = "col-md-2" })
                        <div class="col-md-4">
                            @Model.Fax
                            @Html.HiddenFor(model => model.Fax)
                        </div>
                        @Html.LabelFor(model => model.Telefono, "Teléfono", new { @class = "col-md-1" })
                        <div class="col-md-5">
                            @Model.Telefono
                            @Html.HiddenFor(model => model.Telefono)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoOrganizacion, "Tipo de organización", new { @class = "col-md-2" })
                        <div class="col-md-4">
                            @Model.TipoOrganizacion
                            @Html.HiddenFor(model => model.TipoOrganizacion)
                        </div>
                        @Html.LabelFor(model => model.Region, "Región", new { @class = "col-md-1" })
                        <div class="col-md-5">
                            @Model.Region
                            @Html.HiddenFor(model => model.Region)
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">

                    Direcciones de la Organización

                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, "E-mail", new { @class = "col-md-2" })
                        <div class="col-md-4">
                            @Model.Email
                            @Html.HiddenFor(model => model.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Comuna, "Comuna", new { @class = "col-md-2" })
                        <div class="col-md-4">
                            @Model.Comuna
                            @Html.HiddenFor(model => model.Comuna)
                        </div>
                        @Html.LabelFor(model => model.Direccion, "Dirección", new { @class = "col-md-1" })
                        <div class="col-md-5">
                            @Model.Direccion
                            @Html.HiddenFor(model => model.Direccion)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="btnCancelar" class="btn btn-sm btn-danger pull-left" data-dismiss="modal">Cancelar</button>
        <button type="submit" id="btnEliminar" class="btn btn-sm btn-success">Eliminar</button>
    </div>
}
<script>
    var codError = '@(ViewBag.codError)';
    var mensajeRespuesta = '@(ViewBag.respuesta)'
    var tipoEstilo = "";
    if (mensajeRespuesta != "") {
        $("#btnEliminar").attr("disabled", "disabled");
        if (codError == '0') {
            tipoEstilo = "alert-success";
            $("#btnCancelar").html("Cerrar");
        } else {
            tipoEstilo = "alert-danger";
        }
        var mensajeUsuario = '<div class="alert ' + tipoEstilo + ' alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button>' + mensajeRespuesta + '</div>';
        $("#mensaje").append(mensajeUsuario);

    }
</script>