@model AltoRendimiento.Administracion.Models.TipoObjetoModel
@using PagedList.Mvc;
<div class="text-right">
    @Html.ActionLink("Volver", "Index", "BandejaEntrada", null, new { @class = "btn btn-sm btn-info pull-left", @style = "color:White" })
    @Html.ActionLink("Nuevo", "CrearTipoObjeto", "MantenedorTipoObjeto", null, new { data_modal = "", id = "btnAgregarTipoObjeto", @class = "btn btn-sm btn-primary text-right", @style = "color:White" })
</div>
<br />
<div class="table-responsive">
    <table id="tblData" class="table table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.tobNombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tobDescripcion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaTipoObjetos)
            {
                <tr>
                    <td>
                        @item.tobNombre
                    </td>
                    <td>
                        @item.tobDescripcion
                    </td>
                    <td>
                        @Html.Raw(@Html.ActionLink("[replacetext]", "DetalleTipoObjeto", new { id = item.idTipoObjeto }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Detalle' src=\"Images/Reporte.png\" ... />"))
                        @Html.Raw(@Html.ActionLink("[replacetext]", "EditarTipoObjeto", new { id = item.idTipoObjeto }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Editar' src=\"Images/Edit.png\" ... />"))
                        @Html.Raw(@Html.ActionLink("[replacetext]", "EliminarTipoObjeto", new { id = item.idTipoObjeto }, new { data_modal = "" }).ToHtmlString().Replace("[replacetext]", "<img data-toggle='tooltip' title='Eliminar' src=\"Images/Trash.png\" ... />"))
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id="dvInfoPaginacion">
        Página @(Model.ListaTipoObjetos.PageCount < Model.ListaTipoObjetos.PageNumber ? 0 : Model.ListaTipoObjetos.PageNumber) de @Model.ListaTipoObjetos.PageCount
        @Html.PagedListPager(Model.ListaTipoObjetos, page => Url.Action("Index", new { page }))
    </div>
</div>
