@model AltoRendimiento.Administracion.Models.OrganizacionLineaTipoProductoModel

@{
    ViewBag.Title = "Inicio";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Inicio", "Index", "BandejaEntrada")</li>
            <li>Mantenedor de Tipo Producto por Organización - Línea</li>
        </ol>
    </div>
</div>
<h3>Mantenedor de Tipo Producto por Organización - Línea</h3>

<div id="divMensaje"></div>

@Html.Partial("ListaTipoProductoOrgLin", Model)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
}

<script>
    var codRespuesta = '@(ViewBag.codRespuesta)';
    var msgRespuesta = '@(ViewBag.msgRespuesta)';
    var tipoEstilo = "";
    if (msgRespuesta != "") {
        if (codRespuesta == '0') {
            tipoEstilo = "alert-success";
        } else {
            tipoEstilo = "alert-danger";
        }
        var mensajeUsuario = '<div class="alert ' + tipoEstilo + ' alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button>' + msgRespuesta + '</div>';
        $("#divMensaje").append(mensajeUsuario);
        if (codRespuesta == '1') {
            $("#tblData").attr("style", "display:none;");
            $("#dvInfoPaginacion").attr("style", "display:none;");
        }
    }

    $('#myModal').on('hidden.bs.modal', function () {
        location.reload();
    })
</script>

